<!doctype html>
<html lang="en">
<link rel="icon" type="image/png" href="/images/unbiased.png" />
<%- include('../partials/head', {title: "Unbiased - Frontpage"}) %>
<!-- <%- include('../partials/nav', {user: locals.user, karma}) %> -->

<body>
    <span id="auth"><%= isAuth %></span>

    <div class=" bg-transparent shadow  ">
        <div class="nav container">
            <a class="navbar-brand" href="/">
                <img src="/images/icon.png" class="d-inline-block align-top rotate">
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="main col-md-12">
                <%- include('../partials/jumbotron', {subtitle:"Articles posted by users. Articles voted on by users.",name: "Articles"}) %>
                <hr>
                <div class="col-md-12">
                    <%- include('../partials/sidebar_index_actions.ejs') %>
                </div>

                <div class="container-fluid d-flex ">
                    <div class="col-md-10">
                        <div class="row">
                            <% if (posts != undefined) { 
                                            posts.forEach((post) => { %>
                            <article class="post col-md-5 col mt-5 mr-2 mb-1 shadow bg-white rounded"
                                data-ref="<%= post._id %>">
                                <div class="d-flex justify-content-around align-items-center">
                                    <div class="col-md-10 mb-3 col text-truncate text-center">
                                        <% if(post.type == "post") { %>
                                        <a style="text-transform:capitalize"
                                            href="/r/<%= post.subreddit %>/<%= post._id %>"><%= post.title %></a>
                                        <hr />
                                        <%  } else { %>
                                        <a href="<%= post.link %>" class="text-dark font-weight-bold text-capitalize"
                                            style="font-size: 15px;" target="_blank"><%= post.title %></a>
                                        <% } %>
                                    </div>
                                    <!-- Submitted <time title="<%= post.time %>">-</time>
                                                                    By <span class="post-user"><a style="text-transform:capitalize"
                                                                            href="/u/<%= post.username %>"><%= post.username %></a></span> -->
                                    <!-- from <span><a href="/r/<%= post.subreddit %>">/r/<%= post.subreddit %></a></span> -->
                                    <% if(post.username == locals.user) { %>
                                    <div class="col-md-2 col mb-3">
                                        <ul class="post-options">
                                            <!-- <li><a href="/r/<%=post.subreddit %>/<%= post._id %>"><%=post.num_of_comments%>
                                                                                comments</a>
                                                                        </li> -->
                                            <!-- <li><a href="javascript:void(0)" class="save-post auth-req">Save</a></li> -->
                                            <li><a href="javascript:void(0)" class="delete-post auth-req">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="arrows col-md-12 d-flex flex-column justify-content-between ">
                                    <div class="vote-count col-md-12 d-flex justify-content-between">
                                        <% if(post.type == "img") { %>
                                        <a href="<%= post.link %>"><img src="<%=post.link%>" height="40" width="55"
                                                class="thumbnail"></a>
                                        <% } else if (post.type == "link") { %>
                                        <a style="font-size:1rem;" href="<%= post.link %>" target="_blank"><img
                                                src="<%= post.image %>" height="40" width="40" class="thumbnail"></a>
                                        <% } else { %>
                                        <a style="font-size:1rem;" href="/r/<%= post.subreddit %>/<%= post._id %>"><img
                                                src="/images/post.png" height="40" width="40" class="thumbnail"></a>
                                        <% } %>
                                        <div class="downvote-post auth-req d-flex flex-column">
                                            <i class="fas fa-chevron-left text-center"></i>
                                            <span class="downpost-votes text-center font-weight-bold"
                                                data-ref="<%= post._id %>"><%= post.downvotes %></span>
                                            <small class="font-weight-bold ml-2">Strong <br>Left</small>
                                        </div>
                                        <div class="slightdownvote-post auth-req d-flex flex-column">
                                            <i class="fas fa-chevron-circle-left text-center"></i>
                                            <span class="slight-post-downvotes text-center font-weight-bold"
                                                data-ref="<%= post._id %>"><%= post.slightdownvotes %></span>
                                            <small class="font-weight-bold ml-2">Slight<br>Left</small>
                                        </div>
                                        <div class="neutralvote-post auth-req d-flex flex-column">
                                            <i class="fas fa-chevron-up text-center"></i>
                                            <span class="neutralpost-votes text-center font-weight-bold"
                                                data-ref="<%= post._id %>"><%= post.neutralvotes %></span>
                                            <small class="font-weight-bold ml-2">Neutral</small>
                                        </div>
                                        <div class="slightupvote-post auth-req d-flex flex-column">
                                            <i class="fa fa-chevron-circle-right upvote-slight-arrow text-center"></i>
                                            <span class="slight-post-upvotes text-center font-weight-bold"
                                                data-ref="<%= post._id %>"><%= post.slightupvotes %></span>
                                            <small class="font-weight-bold ml-2">Slight<br>Right</small>
                                        </div>

                                        <div class="upvote-post auth-req d-flex flex-column">
                                            <i class="fas fa-chevron-right text-center"></i>
                                            <span class="upvote-post-votes text-center font-weight-bold"
                                                data-ref="<%= post._id %>"><%= post.upvotes %></span>
                                            <small class="font-weight-bold ml-2">Strong<br>Right</small>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% });%>
                            <% } else { %>
                            <div class="alert alert-success mr-5 col-md-12">
                                <strong>Sorry!</strong> There are no posts.
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <iframe class="iframe"
                            src="http://www.urldelivery.com/watchnew?key=ba5ec8d8ae63098b6cb367cdbf39871e"
                            frameborder="0" height="600" width="160" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="/js/index.js"></script>
        <script src="/js/welcome.js"></script>
        <script src="/js/load.js"></script>
        <script src="/js/post.js"></script>
        <script src="/js/sort.js"></script>

</body>

</html>